@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;1,300&display=swap');

html {
    font-family: 'Montserrat', sans-serif;
}

.mdc-top-app-bar {
    background-color: #212121;
}

#navigationList {
    font-size: 15px;
    li {
        display: inline;
        margin-right: 15px;
        a {
            color: white;
            text-decoration: none
        }
    }
}
.section-card {
    padding-top: 6px;
}

.banner {
    height: 60vh;
    background-image: url("/assets/images/working-on-laptop.jpg");
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover!important;
}

.logo {
    position: absolute;
    width: 10%;
    height: 10%;
    z-index: 1;
    padding: 4px;
}

.introduction {
    padding: 5vh;
    text-align: center;
    line-height: 2rem;

    h1 {
        padding-bottom: 2vh;
    }
}

.material-icons.md-100 { font-size: 100px; }

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.info-menu {
    align-content: center;
    padding-top: 5vh;
    padding-bottom: 5vh;
    .counters {
        padding-top: 15px;
        padding-bottom: 15px;

        .container {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-gap: 30px;
            text-align: center;

            i {
                margin-bottom: 5px;
            }
        }

        .counter {
            font-size: 45px;
            margin: 10px 0;
        }
    }
}

.grey-overlay {
    background: rgba(0, 0, 0, 0.3);
    height: 100%;
    width: 100%;
}

.about-us {
    height: 60vh;
    background-image: url("/assets/images/meeting.jpg");
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover!important;

    .text-box {
        justify-content: center;
        display: flex;
        padding-top: 30vh;
        h1 {
            color: white;
            font-weight: bold;
            font-size: 4rem;
            line-height: 3.75rem;
        }
    }
}

footer {
    background-color: #212121;
    height: 30vh;
    color: white;
    text-align: center;
    padding-top: 15vh;
}

@media (max-width: 769px) {
    .logo {
        width: 20%;
    }
    .info-menu {
        .counters {
            .container {
                grid-template-columns: repeat(2, 1fr);
            }
        }
    }
}

@media (max-width: 481px) {
    .banner {
        height: 25vh;
    }
    .logo {
        width: 25%;
    }
    .info-menu {
        .counters {
            .container {
                grid-template-columns: repeat(1, 1fr);
            }
        }
    }
}

